@import './root.css';
@import './_utility_classes.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ffffff;
  color: #fff;
}


.pdf_body {
  display: flex;
  flex-direction: column;
  grid-area: pdf_body;
}

.pdf_sidebar {
  display: flex;
  flex-direction: column;
  grid-area: pdf_sidebar;
}

.pdf_wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 600px;
  grid-template-areas: "pdf_body pdf_sidebar";
}


.sidebar {
  overflow: auto;
  color: var(--text-body);
  background: linear-gradient(
    var(--gray-88),
    var(--gray-88) 46px,
    var(--gray-88) 120px,
    var(--gray-88) 35%,
    var(--gray-88)
  );
}

.canvasWrapper {
  background-color: var(--white);
}

.pdfViewer {
  background-color: var(--gray-88);
  padding: 20px;
}

.sidebar__highlights {
  list-style: "none";
  padding: 0;
}

.highlight__location {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 10px;
}

.highlight__image {
  overflow: auto;
  max-width: 300px;
  border: 1px dashed;
}

.sidebar__highlight {
  padding: 1rem;
  cursor: pointer;
  transition: background 140ms ease-in;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.sidebar__highlight:hover {
  background: rgba(58, 56, 52, 0.08);
}

a {
  color: #d35400;
}

blockquote {
  padding: 0;
  margin: 0;
  quotes: "\201c" "\201d";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
